{% extends 'base.html' %}

{% block content %}
<body>
<div class="col bg-header-manager " style="display: flex;">
    <div class="col">Панель Менеджера</div>
    <div class="col" style="text-align: end;"><a href="/logout">Выход</a></div>
</div>
    <div class="container mt-5">
        <div class="row text-center">
            <h2>Список пользователей</h2>
        </div>
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Телефон</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Адрес</th>
                    <th scope="col">Изменить</th>
                    <th scope="col">Удалить</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    {% for client in clients %}
                    <th scope="row">{{loop.index}}</th>
                   <td>{{client.lastName}}</td>
                    <td>{{client.firstName}}</td>
                    <td>{{client.phoneNumber}}</td>
                    <td>{{client.email}}</td>
                    <td>{{client.address}}</td>
                    <td>
                        <a href="/client/{{client.id}}" class="btn btn-success">Изменить</a>
                    </td>
                    <td>
                        <a href="/client/delete/{{client.id}}" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

        <div class="row">

             <form method="post"
                  action="" class="row d-flex justify-content-center g-3">
                <div class="row">
                    <div class="col-3">
                        <div id="secondaryHelp" class="form-text">Введите Фамилию нового клиента</div>
                        <input type="text" name="lastname" class="form-control border-login" id="exampleInputsecondary"
                               name="lastName"
                            aria-describedby="lsecondaryHelp">

                    </div>
                    <div class="col-3">
                        <div id="firstHelp" class="form-text">Введите Имя нового клиента</div>
                        <input type="text" name="firstName" class="form-control border-login" id="exampleInputfirst"
                            aria-describedby="firstHelp">

                    </div>

                    <div class="col-3 d-flex align-items-end">

                        <button type="submit" class="btn btn-primary button-manager">
                            Изменить данные
                        </button>

                    </div>

                    <div>

                    </div>

                </div>

                <div class="row">
                    <div class="col-3">
                        <div id="phoneHelp" class="form-text">E-mail клиента</div>
                        <input type="text" name="email" class="form-control border-login" id="phoneInputfirst"
                            aria-describedby="phoneHelp">

                    </div>
                    <div class="col-3">
                        <div id="phoneHelp" class="form-text">Адрес клиента</div>
                        <input type="text" name="address" class="form-control border-login" id="phoneInputfirst"
                            aria-describedby="phoneHelp">

                    </div>
                     <div class="col-3">
                        <div id="phoneHelp" class="form-text">Номер телефона</div>
                        <input type="text" name="phoneNumber" class="form-control border-login" id="phoneInputfirst"
                            aria-describedby="phoneHelp">

                    </div>
                </div>

            </form>

        </div>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

{% endblock %}